<a href="https://colab.research.google.com/github/409030201/Introduction-to-Compers/blob/main/0523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("0523")

In [ ]:
sum = 0
test = int(input("請輸入一個正整數:"))
for n in range(1, test+1):
  sum = sum+n
print("1到",test,"的正數和為",sum)

請輸入一個正整數:10
1到 10 的正數和為 55

In [5]:
sum = 0
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
  sum = sum+m
  print("1到",str(m),"的正數和為",sum)

請輸入一個正整數:10
1到 1 的正數和為 1
1到 2 的正數和為 3
1到 3 的正數和為 6
1到 4 的正數和為 10
1到 5 的正數和為 15
1到 6 的正數和為 21
1到 7 的正數和為 28
1到 8 的正數和為 36
1到 9 的正數和為 45
1到 10 的正數和為 55

In [6]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [7]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [8]:
for i in range(1,10):
  for j in range(1,10):
    print(f"{j}*{i}={j*i}",end="\t")
  print()

1*1=1	2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
1*2=2	2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
1*3=3	2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
1*4=4	2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
1*5=5	2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
1*6=6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
1*7=7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
1*8=8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
1*9=9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [10]:
for i in range(1,5):
  if(i==5):
    break
  print(i,end= " ")

1 2 3 4

In [11]:
for i in range(1,5):
  if(i==4):
    continue
  print(i,end= " ")

1 2 3

In [14]:
conunt = 0
for string in "測試看看!":
  conunt+=1
  if string =="看":
    break
  print(string)

print("迴圈結束!")
print("迴圈執行了 %d 次" % conunt)

測
試
迴圈結束!
迴圈執行了 3 次

In [15]:
conunt = 0
for string in "testlooklook!":
  conunt+=1
  if string =="look":
    break
  print(string)

print("迴圈結束!")
print("迴圈執行了 %d 次" % conunt)

t
e
s
t
l
o
o
k
l
o
o
k
!
迴圈結束!
迴圈執行了 13 次

In [1]:
a = int(input("輸入第一個數字: "))
b = int(input("輸入第二個數字: "))
for i in range(1,(a*b)+1):
 if i % a ==0 and i % b == 0:
   break
print(a,"和",b,"的最小公倍數是%d" % i)

輸入第一個數字: 4
輸入第二個數字: 6
4 和 6 的最小公倍數是12

In [16]:
a = int(input("請輸入數字:"))
for n in range(1,a):
  if n%5==0:
    continue
  print(n,end=",")

請輸入數字:50
1,2,3,4,6,7,8,9,11,12,13,14,16,17,18,19,21,22,23,24,26,27,28,29,31,32,33,34,36,37,38,39,41,42,43,44,46,47,48,49,